asgiref==3.5.2
Django==3.2
django-cors-headers==3.13.0
django-crispy-forms==1.8.1
django-tinymce==3.4.0
djangorestframework==3.11.0
drf-nested-routers
gunicorn==19.9.0
Pillow==2.0.0
psycopg2==2.9.3
pytz==2022.1
sqlparse==0.4.2
whitenoise==4.1.4
