asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.11
Django==3.2
django-appconf==1.0.5
django-ckeditor==6.2.0
django-crispy-forms==1.8.1
django-froala-editor==4.0.9
django-js-asset==1.2.2
django-taggit==1.2.0
django-tinymce==3.4.0
django-user-accounts==3.2.0
django-utils-six==2.0
Django-Verify-Email==1.0.9
dnspython==2.2.0
docopt==0.6.2
docutils==0.17.1
fett==0.3.2
gunicorn==19.9.0
idna==3.3
networkx==2.6.3
Pillow==9.0.1
pkg_resources==0.0.0
psycopg2-binary==2.8.4
pymongo==3.12.3
python-jsonrpc-server==0.3.4
pytz==2021.3
PyYAML==5.4.1
requests==2.27.1
snooty-lextudio==1.11.6
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
ujson==1.35
urllib3==1.26.8
watchdog==1.0.2
whitenoise==4.1.4
