{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editing{% endblock title%}
{% block content %}
<div></div>

<div>
<h2 class="card-title mt-5">Are you sure you want to delete blog?</h2>
<form method="post" style="width: 13rem;">
    {% csrf_token %}
    <button class="btn btn-danger me-3" type="submit" style="display: inline;">Delete</a> <br>
    <button class="btn btn-reddit-white" style="display: inline;" href="{% url 'blog_detail' object.id %}">Cancel</a>
</form>
</div>

<div>
</div>
{% endblock content %}