{% extends 'blog/base.html' %}
{% block content %}
<div class="detail_text" style="margin: 1em;">
  <a href="{% url 'home' %}" style="text-decoration: none;" class="btn btn-primary"> < Back </a>
        <div style="text-align: center;">
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.date|date:"F d, Y" }}</p>
        </div>
        <p style="padding: 2em;"">{{ blog.body }}</p>
        <p style="text-align: center;"><em>by  {{ blog.author }}</em></p>
        {% if object.author == user %}
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <a href="{% url 'blog_update' object.id %}">
            <li class="nav-item" role="presentation">  
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Edit</button>
              </li>
            </a>
            <a href="{% url 'blog_delete' object.id %}" style="text-decoration: none;">
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Delete</button>
              </li>
            </a>
        </ul>
        {% endif %}
</div>
{% endblock content %}