{% extends 'blog/base.html' %}
{% block content %}
<div class="detail_text" >
      <div class="card mb-3" style="background-color: rgb(25, 25, 25);">
        <div class="card-body" >
            <p class="card-text text-muted" style="font-size: 12px; color: white;"><img class="rounded-circle" src="{{ blog.author.profile.image.url }}" alt="" style="height: 20px; width: 20px; margin-right: 0px;">    @{{ blog.author }} · {{ blog.date|date:"F d, Y" }}</p>
            <strong><p class="card-title" style="color: white;">{{ blog.title }}</p></strong>
            {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="" style="width: 100%;">
            {% endif %}
            {% if blog.text %}
              <p class="card-text" style="color: white;">{{ blog.text }}</p>
            {% endif %}
          </div>
      </div>
        {% if object.author == user %}
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <a href="{% url 'blog_update' object.id %}">Edit</a>
            <a href="{% url 'blog_delete' object.id %}">Delete</a>
        </ul>
        {% endif %}
      

      {% if user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{ comment_form }}
            <button class="btn btn-primary" type="submit">Add comment <i class="fas fa-comments"></i></button>
          </div>
        </form>
        {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
      {% endif %}


        {% if comments %}
        <strong class="text-muted">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
        <hr>
        <ul>
          {% for comment in comments %}
          <li>           
           <div>
              <span>
                <strong class="text-muted">{{ comment.author }} </strong>
                <small class="text-muted">{{ comment.date_posted }}</small>
              </span>
              <p>
                {{ comment.content|safe }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
          <strong class="text-secondary">No comments yet...</strong>
        {% endif %}
      
      
</div>
{% endblock content %}