{% extends 'blog/base.html' %}
{% block content %}
<div class="detail_text" >
        <div class="card mb-0">
          <div class="card-body" >
              <p class="card-text text-muted">@{{ blog.author }}</p>
              <p class="card-text title" >Posted on {{ blog.date|date:"F d, Y" }}</p>
              <strong><p class="card-title">{{ blog.title }}</p></strong>
              <p class="card-text">{{ blog.text }}</p>
          </div>
        </div>
        {% if object.author == user %}
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <a href="{% url 'blog_update' object.id %}">Edit</a>
            <a href="{% url 'blog_delete' object.id %}">Delete</a>
        </ul>
        {% endif %}
</div>
{% endblock content %}