{% extends 'blog/base.html' %}
{% block content %}


{% for blog in object_list %}
    <div class="card shadow mb-3">
        <div class="card-body" >
            <h3 class="card-title text-center">{{ blog.title }}</h3>
            <p class="card-text text-muted text-center">
                <em>by {{ blog.author }}<em>
            </p>
        <p class="card-text">{{ blog.body|linebreaksbr|slice:"255" }}...</p>
        <div class="text-center"><a href="{% url 'blog_detail' blog.id %}" 
            class="btn btn-outline-dark rounded-pill">Read more</a></div>
        </div>
    </div>
{% endfor %}
{% endblock content %}