<div class="card sticky-top search-card">
<div class="card-body ">
    <form class="d-flex" method="get" style="padding: 0;">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    </form>
</div>
{% if request.GET %}
    {% for blog in posts_filter %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="card-title">
                <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
            </p>
        </li>
    </ul>
    {% endfor %}
{% endif %}
</div>

