{% load blog_tags %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/media/images/sv5eBMgVQfpdwcJaTMvtwXjJ79bLveVGI49TlnVRog0.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: 600;">Top Posts</h5>
      <br>
        {% get_most_commented_posts as most_commented_posts %}
        {% for post in most_commented_posts %}
        <div class="top-posts" style="width: 100%; display: inline;">
              <p class="card-text" style="font-weight: 600; ">
                {{ post.title }} 
              </p>
              <p class="inline-reddit">
                posted by @{{ post.author }} · {{ post.number_of_comments }} Comment{{ post.number_of_comments|pluralize }}
              </p>
              <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-reddit-white inline-reddit btn-reddit-float" style="display: inline;" >
                See post
              </a> 
              
              
            <hr>
        </div>
        {% endfor %}
        <br>
      <a href="{% url 'top_posts' %}" class="btn btn-reddit">View All</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <div class="footer-flex">
      <div class="card-body">
        <p class="card-text" style="height: 1em;">Home</p>
        <p class="card-text" style="height: 1em;">Sign Up</p>
        <p class="card-text" style="height: 1em;">Help</p>
        <p class="card-text" style="height: 1em;">Donate</p>
      </div>
      <div class="card-body">
        <p class="card-text" style="height: 1em;">Home</p>
        <p class="card-text" style="height: 1em;">Sign Up</p>
        <p class="card-text" style="height: 1em;">Help</p>
        <p class="card-text" style="height: 1em;">Donate</p>
      </div>
    </div>
  </div>
