{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='w-50 mt-5 content-section'>
        <form method='POST'>
            {% csrf_token %}
            <fieldset>
                <legend class='border-bottom mb-4'>Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class='form-group' style="margin: 1em 0;">
                <button class='btn btn-reddit' type='submit'>Log In</button>
            </div>
        </form>
        <div class='border-top pt-3'>
            <small class="text-muted">Need An Account?
            </small>
            <br>
            <br>
            <a class='btn btn-reddit' href='{% url "register" %}' style="margin-left: 1em;">Join HeyBlog</a>
        </div>
    </div>
{% endblock content %}