{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
<div></div>
    <div class="card">
        <img src="{{ user.profile.image.url }}" class="card-img-top" alt="profile pic">
        <div class="card-body">
            <p class="card-text">Username: @{{ user.username }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">{{ user.posts.count_posts_of }} Post{{ user.posts.count_posts_of|pluralize }}:</p>
        </div>
        <form method='POST' enctype="multipart/form-data"  style="padding: 1em;">
            {% csrf_token %}
            <fieldset>
                <legend class='border-bottom mb-4'>Profile Info</legend>
                {{ u_form |crispy }}
                <br>
                {{ p_form | crispy }}
            </fieldset>
            <div class='form-group'>
                <button class='btn btn-reddit mt-3' type='submit'>Update</button>
            </div>
        </form>
    
    <br>
        Post {{ user.profile. }}
    <br>
    </div>
    </br>
<div></div>
{% endblock content %}